.form_style {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form_style h2 {
  text-align: center;
}

.form_style input[type='text'],
.form_style input[type='password'] {
  width: calc(100% - 16px);
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.form_style input[type='radio'] {
  display: inline-block;
  margin-right: 5px;
}

.form_style label {
  display: inline-block;
  margin-bottom: 10px;
}

.form_style button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.form_style button:hover {
  background-color: #45a049;
}
